
.chart-creator {
  @extend .page;
  margin-top: 20px;
}

.chart-creator-menu {
  margin-right: 20px;
  height: 100%;
}

.dataset-chooser {
  @include box($light-gray);
  margin-left: 10px;
  float: left;
  width: 250px;
  padding: 10px;
  height: 600px;
  overflow: scroll;
  h2 {
    margin: 10px 0px;
  }
}

.dataset-drops {
  @include box($light-gray);
  margin-left: 10px;
  float: left;
  width: 250px;
  height: 600px;
  padding: 10px;
  h2 {
    margin: 20px 0px;
    display: block;
    width: 50px;
    float: left;
  }
  input {
    margin: 17px 0px;
    padding: 3px;
    width: 160px;
  }
}

.chart-type {
  display: flex;
  justify-content: space-around;
  
  li {
    color: $dark-gray;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
  .active {
      color: $blue;
    }
}


.column-names {
  padding: 0px;
  margin-bottom: 5px;
  li {
    margin: 3px 0px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $lightest-gray;
    color: black;
    cursor: pointer;
    vertical-align: center;
    position: relative;
  }
}

.drop {

  height: 220px;
  width: 200px;
  border: 1px dashed $blue;
  background-color: white;
  overflow-y: auto;
  margin: auto;
  li {
    cursor: default;
  }
  .drop-columns {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
  }
  .icon-drop {
    display: block;
    background-color: $blue;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: image-url('vendor/icon-font-pack/drawer.svg');
    -webkit-mask-image: image-url('vendor/icon-font-pack/drawer.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 50% auto;
    transform: translatey(-50%);
  }

  .icon-remove {
    background-color: $red;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
    mask-image: image-url('vendor/icon-font-pack/close.svg');
    -webkit-mask-image: image-url('vendor/icon-font-pack/close.svg');
    mask-size: 30px;
    -webkit-mask-size: 30px;
  }

  span {
    margin-right: 20px;
  }
  
}

.new-chart {
  float: left;
  margin-left: 10px;
  width: 600px;
  padding: 10px;
  input {
    width: 570px;
    margin: 10px 0px;
    background: white;
  }
}

// Override React-select style
.Select {
  width: 100%;
  margin: auto;
}

.Select-control {
  border: 1px solid $light-gray;
  border-radius: 0px;
  color: $dark-gray;
}

.Select-clear {
  margin-top: 0px;
  font-size: 25px;
  line-height: 30px;
}

.Select-input input {
  border: none;
}