
.chart-creator {
  @extend .page;
  margin-top: 20px;
}

.chart-creator-menu {
  margin-right: 20px;
  height: 100%;
}

.dataset-chooser {
  @include box($light-gray);
  margin-left: 10px;
  float: left;
  width: 250px;
  padding: 10px;
  height: 600px;
  overflow: scroll;
  h2 {
    margin: 10px 0px;
  }
}

.dataset-drops {
  @include box($light-gray);
  margin-left: 10px;
  float: left;
  width: 250px;
  height: 600px;
  padding: 10px;
  h2 {
    margin: 10px 0px;
  }
}

.chart-type {
  display: flex;
  justify-content: space-around;
  
  li {
    color: $dark-gray;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
  .active {
      color: $blue;
    }
}


.column-names {
  padding: 0px;
  margin-bottom: 5px;
  li {
    margin: 3px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    // border: 1px solid $light-gray;
    background-color: $lightest-gray;
    color: black;
    cursor: pointer;
  }
}

.drop {
  height: 200px;
  width: 200px;
  background-color: $lightest-gray;
  overflow-y: auto;
  margin: auto;
}

.new-chart {
  float: left;
  margin-left: 10px;
  width: 600px;
  padding: 10px;
  input {
    width: 570px;
    margin: 10px 0px;
    background: white;
  }
}

// Override React-select style
.Select {
  width: 100%;
  margin: auto;
}

.Select-control {
  border: 1px solid $light-gray;
  border-radius: 0px;
  color: $dark-gray;
}

.Select-clear {
  margin-top: 0px;
  font-size: 25px;
  line-height: 30px;
}

.Select-input input {
  border: none;
}