.new-post {
  width: 100%;
  overflow: hidden;
  .dataset-item {
    margin: 0;
    width: 100%;
    box-shadow: none;
    min-height: auto;
  }
  svg {
    display: block;
    margin: auto;
  }
  .labels {
    margin: auto;
  }
}

.error {
  margin-top: 10px;
  color: $red;
  text-align: center;
}

.save {
  width: 100%;
  height: 50px;
  .button-green {
    float: right;
    width: 100px;
    text-align: center;
    margin-right: 10px;
  }
}