.new-post {
  width: 100%;
  overflow: hidden;
  .dataset-item {
    margin: 0;
    width: 100%;
    box-shadow: none;
    min-height: auto;
  }
}

.save {
  width: 100%;
  height: 50px;
  .button-green {
    float: right;
    width: 100px;
    text-align: center;
    margin-right: 10px;
  }
}