body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgb(252, 251, 249)	;
  padding-bottom:60px;
  @include border-box;
}

  h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 20px;
  }