$light-gray: rgb(228, 228, 228);
$lightest-gray: rgb(250, 250, 250);
$dark-gray: rgb(137, 139, 141);
$red: rgb(194, 42, 42);
$blue: rgb(91,	140,	170	);
$orange: rgb(241, 141, 59);
$green: #3D9970;
$yellow: rgb(238, 219, 106);
$beige: rgb(252, 251, 249);
$large-screen: 1248px;