.line {
  stroke: black;
  fill: none;
  stroke-width: 1px;
}

.chart-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.chart {
  @include box($light-gray);
  padding: 20px;
  vertical-align:bottom;
  display: block;
}

.labels {
  @include box($light-gray);
  border-top: none;
  padding: 5px;
  display: flex;
  li {
    margin-left: 10px;
    .fa {
      margin: 0px 5px;
    }
  }
}

// Chart colors
.color-fill-0 {
  fill: $blue;
}

.color-fill-1 {
  fill: $green;
}

.color-fill-2 {
  fill: $orange;
}

.color-0 {
  color: $blue;
}

.color-1 {
  color: $green;
}

.color-2 {
  color: $orange;
}


.color-stroke-0 {
  stroke: $blue;
  fill: none;
}

.color-stroke-1 {
  stroke: $green;
  fill: none;
}

.color-stroke-2 {
  stroke: $orange;
  fill: none;
}
