.line {
  stroke: black;
  fill: none;
  stroke-width: 1px;
}

.chart-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.chart-container {
  @include box($light-gray);
  padding: 10px;
  vertical-align:bottom;
  display: block;
  svg {
    padding-bottom: 15px;
  }
}

.labels {
  border-top: 1px solid $light-gray;
  padding-top: 5px;
  display: flex;
  li {
    margin-left: 10px;
    .fa {
      margin: 2px 5px;
    }
  }
}

// Chart colors
.color-fill-0 {
  fill: $blue;
}

.color-fill-1 {
  fill: $green;
}

.color-fill-2 {
  fill: $orange;
}

.color-fill-3 {
  fill: rgb(142, 31, 156);
}

.color-fill-4 {
  fill: $red;
}

.color-fill-5 {
  fill: rgb(30, 156, 194);
}

.color-0 {
  color: $blue;
}

.color-1 {
  color: $green;
}

.color-2 {
  color: $orange;
}

.color-3 {
  color: rgb(142, 31, 156);
}

.color-4 {
  color: $red;
}

.color-5 {
  color: rgb(30, 156, 194);
}

.color-stroke-0 {
  stroke: $blue;
  fill: none;
}

.color-stroke-1 {
  stroke: $green;
  fill: none;
}

.color-stroke-2 {
  stroke: $orange;
  fill: none;
}


.color-stroke-3 {
  stroke: rgb(142, 31, 156);
  fill: none;
}

.color-stroke-4 {
  stroke: $red;
  fill: none;
}

.color-stroke-5 {
  stroke: rgb(30, 156, 194);
  fill: none;
}
