.form-container {
  @include box($light-gray);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  width: 350px;
  margin: auto;
  
}

input[type='text'], input[type='password'], textarea {
  padding: 15px;
  border: 1px solid $light-gray;
  width: 96%;
  margin: 5px 0px 10px 5px;
  color: $dark-gray;
  font-size: 16px;
}

input:focus, textarea:focus {
  border: 1px solid $blue;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
  font-size: 0.875em;
}

label {
  padding: 10px 0px 0px 10px;
  font-size: 12px;
  color: $dark-gray;
}

.form {
  font-size: 18px;
  background: white;
  z-index: 0;
  padding: 20px;
  
  input[type='text'], input[type='password'], textarea {
    width: 96%;
  }
}


.form-button {
  background: $blue;
  color: white;
  border-radius: 0px;
  padding: 10px;
  width: 96%;
  text-align: center;
  margin: 5px;
  display: block;
  border: 1px solid #ccc;

  &:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
  }
}

.form-title {
  font-size: 20px;
  padding: 10px;
}

.form-errors {
  left: 100%;
  top: 0px;
  width: 100%;
  border: 1px solid $light-gray;
  background: white;
  position: absolute;
  animation-name: slideInLeft;
  animation-duration: 1s;
  z-index: -1;
}


.form-errors li {
  width: 100%;
  display: block;
  border-bottom: 1px solid white;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  color: $red;
}

.form-errors li:first-child {
  border-bottom: 1px solid $dark-gray;
  padding: 20px 10px;
  color: black;
}

@media screen and (max-width: 1024px) {
    .form-errors {
      left: 0;
      top: 100%;
      animation-name: slideInTop;
      animation-duration: 1s;
    }
}

@media screen and (max-width: 600px) {
    .form-container {
      top: 100px;
      transform: translateY(0);
      width:90%;
    }

}