
.menu-bar {
  @extend .page;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;

  .fa {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 20px;
  }

  .fa-heart-o, .fa-heart {
    color: $red;
  }
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}